*{
    box-sizing: border-box;
    padding: 0;
}
body{
    background: #3f3b3b;
    color: #fff;
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.movieBox{
    border: 3px solid #28c7fa;
    border-radius: .5rem;
    margin: 1rem 0rem;
    padding: 1rem;
    text-align: center;
}
button{
    padding: 1rem;
    font-size: 1.2rem;
    color: #fff;
    outline: none;
    border-radius: .5rem;
    border: none;
    width: 10rem;
    margin: 0 .5rem 0 0;
}
.viewMovieBtn{
    background:#28c7fa;
}
.deleteBtn{
    background:#ff304f;
}

#viewAll{
    background:#28c7fa;
    margin: auto;
}
#submitBtn{
    background: #22eaaa;
    margin: auto;
}
.hero-title{
    text-align: center;
    margin: 2rem;
}
.main-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.movie-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.specificMovieContainer{
    border: 3px solid #28c7fa;
    border-radius: .5rem;
    margin: 1rem 0rem;
    padding: 1rem;
    text-align: center;
}
.specific-movie{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.form-group {
    margin: 1rem 0rem;
    display: flex;
    flex-direction: column;
}
input {
    padding: .5rem;
    border-radius: .5rem;
    outline: none;
    border: none;
}
.title {
    text-align: center;
}